body{
    padding:20px;
}
#title{
    font-family:helvetica;
    font-size:34px;
    color:#75bad6;
}
#subtitle{
    font-family:helvetica;
    font-size:15px;
    color:#76b8d3;
}
li{
    padding-bottom:20px;
}
#content{
    padding:55px;
    font-family:helvetica;
    font-size:20px;
    color:#d6aa74;
}
