* {
	margin: 0;
	padding: 0;
}
/*	grid-column-start: 1;
	grid-column-end: 3;*/
	/*grid-column-end: span 1;*/
	/*grid-column: 1/3;*/
	/*grid-row-end: span 2;*/
/*1fr;200px;20%;auto*/

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);;
	grid-template-areas:
	"mapall mapall mapall scenario textall"
	"mapall mapall mapall sliderbar textall"
	"mapall mapall mapall sliderbar textall";
	grid-gap: 10px;
	width: 100vw;
	height: 100vh;
}

.textall{
	grid-area: textall;
	display: grid;
	grid-template-rows: 120px 120px 120px 120px 120px 120px;
	grid-template-areas:
	"title"
	"body"
	"body"
	"body"
	"body"
	"body";
	grid-gap: 5px;
}

.title{
	padding-right: 15px;
	font-family:Helvetica;
	font-weight: 700;
    font-size:36px;
    color:#000000;
}

.body{
	font-family:Helvetica;
    font-size:16px;
    color:#000000;
}

.mapall{
	grid-area: mapall;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
	"map"
	"mapAnnualincome"
	"mapWelfare";
	grid-gap: 5px;
}

.mapAnnualincome{
	grid-area: mapAnnualincome;
}

.mapWelfare{
	grid-area: mapWelfare;
}

.sliderbar{
	grid-area: sliderbar;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
	"A1"
	"A2"
	"A3";
	grid-gap: 5px;
}

.scenario{
	grid-area: scenario;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
	"singapore"
	"landtrust";
	grid-gap: 5px;
}


/*.grid div:nth-child(even) {
	background-color:#eee;
}

.grid div:nth-child(odd) {
	background-color:#ddd;
}*/

/*#map {
    position: absolute;
    top: 65px;
    left: 365px;
    width: 720px;
    height: 480px;
}*/

@media screen and (min-width: 736px){
	.grid {
			grid-column: auto;
			grid-row: spaln 2;
			align-self: center;
}

#button1 {
	font-family:helvetica;
    font-size:20px;
    color:#000000;
    text-align:center;
    padding-top:30px;
    background-color:#FFFFFF;
    width:240px;
    height:60px;
    border-radius:45px;
    letter-spacing:2px;
    border: 6px solid #000000;
    cursor:pointer;
}

#button2 {
	font-family:helvetica;
    font-size:20px;
    color:#000000;
    text-align:center;
    padding-top:30px;
    background-color:#FFFFFF;
    width:240px;
    height:60px;
    border-radius:45px;
    letter-spacing:2px;
    border: 6px solid #000000;
    cursor:pointer;
}

.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 25%;
top: 0;
left: 0;
padding: 10px;
}
 
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}
 
.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
 
.map-overlay .legend .bar {
height: 10px;
width: 100%;
background: linear-gradient(to right, #FCA107, #7F3121);
}
 
.map-overlay input {
background-color: transparent;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}